<div class="input-group mb-3">
  <input
    type="text"
    [class]="customClasses"
    [value]="value"
    [placeholder]="placeHolder || 'Password'"
    [attr.disables]="isDisabled ? true : false"
    (keyup)="onKeyUp($event)"
    (blur)="onBlur()"
    [attr.type]="passwordType"
  />
  <button class="btn btn-outline-secondary" type="button" (click)="togglePassword()">
    <i
      class="bi fs-3"
      [class.bi-eye-fill]="passwordType === 'password'"
      [class.bi-eye-slash-fill]="passwordType === 'text'"
    ></i>
  </button>
</div>
