.password {
  display: flex;
}
.password__actions {
  min-width: 50px;
  display: flex;
  justify-content: center;
    font-size: 2.3rem;
  cursor: pointer;
}
:host-context(.form-field_error) input {
  border: 1px solid #c61a09;
}
