@import "../../node_modules/@angular/material/prebuilt-themes/azure-blue.css";
/* styles.css */
::ng-deep .mat-mdc-snack-bar-container.mat-snackbar_error .mat-mdc-snackbar-surface {
  color: #fff !important;
  border-radius: 4px !important;
  background-color: #b00020 !important; /* Fondo rojo para errores */
}

::ng-deep .mat-mdc-snack-bar-container.mat-snackbar_success .mat-mdc-snackbar-surface {
  color: #fff !important;
  border-radius: 4px !important;
  background-color: #9a0 !important; /* Fondo verde para éxitos */
}

::ng-deep .mat-mdc-snack-bar-container.mat-snackbar_succes .mat-mdc-snackbar-surface {
  color: #fff !important;
  border-radius: 4px !important;
  background-color: #e87c09 !important; /* Fondo verde para éxitos */
}
